/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
/* Regular 400, Bold 700, Italic 400 */

/* General and apply all */

/* Fonts and headings */

h1,
p,
.btn {
  margin: 10px 10px !important;
}

h1 {
  font-family: "Roboto", sans-serif !important;
  font-size: 22px !important;
  margin: 10px;
}

h2 {
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  margin: 8px 10px !important;
  margin-bottom: 0px !important;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 10px !important;
  margin: 5px 10px !important;
  margin-bottom: 0px !important;
}

.Dateimported {
  font-size: 8px !important;
}

/* Other spacing */

.Sidenotes {
  padding: 50px 70px;
}

.Mainnotes {
  padding: 20px 50px;
}

.Notessaved {
  padding: 24px 50px 20px 0px;
}

.Sidenotes .btn,
.Mainnotes .btn {
  margin: 10px;
  width: 100%;
  height: 50px;
  padding: 0px;
  margin: 0px !important;
}

/* Individual */

.Notessaved {
  background: #ffffff00;
}

/* Columns */

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 60%;
  z-index: 999;
  display: inline-flex;
  justify-content: center;
}

.right-column {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  z-index: 1100;
  overflow-y: auto;
  margin-top: 52px;
}

.left-column {
  width: 60%;
}

.Inputarea {
  height: 100%;
  width: 100%;
  margin: 20px 0px;
  vertical-align: top;
  padding-top: 8px;
}

.Savednotes {
  padding: 25px 25px;
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
  margin: 25px 0px;
  color: white;
}

.btnspacing {
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  font-size: 8px !important;
}

.Inputboxes,
.Mynote {
  margin-top: 30px !important;
}

.active {
  background-color: rgb(229 229 229);
  color: black;
}

.Mynote p {
  font-size: 18px !important;
}

.Mynote {
  background: #dddddd;
  padding: 50px;
  border-radius: 10px;
}

.noNotesBox {
  text-align: center;
}

.noNotes {
  position: fixed;
  top: 35%;
  width: 60%;
}

.App {
  width: 100%;
}

.savedTitle {
  display: none;
  font-style: italic;
  font-size: 12px;
}

.WelcomeScreen {
  width: 100%;
  height: 100vh;
  background: rgb(254, 254, 254);
  text-align: center;
  opacity: 0.8;
  animation: fadeOut 1s ease 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.Welcome {
  font-size: 28px;
  align-items: center;
  height: 100%;
  justify-content: center;
  display: flex;
}

.form-control {
  border: 1px solid #95959578 !important;
  color: black !important;
  background-color: #ffffff !important;
  line-height: 1.5 !important;
}

textarea.form-control {
  height: 62vh !important;
}

@media (max-height: 740px) {
  textarea.form-control {
    height: 58vh !important;
  }
}

@media (max-height: 600px) {
  textarea.form-control {
    height: 48vh !important;
  }
}

@media (max-height: 480px) {
  textarea.form-control {
    height: 40vh !important;
  }
}

@media (max-height: 380px) {
  textarea.form-control {
    height: 15vh !important;
  }
}

.Inputarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px #afafaf !important;
  border-color: #ccc !important;
}

.btn-light {
  background-color: rgb(255, 255, 255) !important;
  border: rgb(171, 171, 171) !important;
}

.titleDefault {
  font-size: 22px !important;
}

.paragraphDefault {
  font-size: 16px !important;
}

.WelcomeTitle {
  width: 60%;
  margin-top: 100px !important;
  align-content: center;
  text-align: center;
}

.WelcomeSaved {
  margin-top: 132px !important;
  text-align: center;
  font-size: 16px !important;
  font-style: italic;
}

.AppHeader {
  background: #222;
  color: white;
  padding: 10px 10px 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2000;
  width: 100%;
}

.hamburger-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px 10px 0px 0px;
  cursor: pointer;
  color: white;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  z-index: 3100;
}

.FullscreenMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: black;
  z-index: 3000;
}

@media (max-width: 845px) {
  .left-column {
    width: 100%;
  }
  .right-column {
    position: relative;
    width: 100%;
  }
  .WelcomeTitle {
    width: 100%;
    padding: 0px;
    margin: 100px 0px !important;
  }
  .fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .Notessaved {
    padding: 0px;
  }
}
