/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
/* Regular 400, Bold 700, Italic 400 */

/* General and apply all */

/* Fonts and headings */

h1,
p,
.btn {
  margin: 10px 10px !important;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 22px !important;
  margin: 10px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px !important;
  margin: 8px 10px !important;
  margin-bottom: 0px !important;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 10px !important;
  margin: 5px 10px !important;
  margin-bottom: 0px !important;
}

.Dateimported {
  font-size: 8px !important;
}

/* Other spacing */

.Sidenotes {
  padding: 50px 70px;
}

.Mainnotes,
.Notessaved {
  padding: 20px 50px;
}

.Sidenotes .btn,
.Mainnotes .btn {
  margin: 10px;
  width: 100%;
  height: 50px;
  padding: 0px;
  margin: 0px !important;
}

/* Individual */

.Notessaved {
  background: rgb(220, 220, 220);
}

/* Columns */

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 60%;
  z-index: 999;
  display: inline-flex;
  justify-content: center;
}

.right-column {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  z-index: 1100;
  overflow-y: auto;
}

.left-column {
  width: 50%;
}

.Inputarea {
  height: 100%;
  width: 100%;
  margin: 20px 0px;
  vertical-align: top;
  padding-top: 8px;
}

.Savednotes {
  padding: 25px 25px;
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
  margin: 25px 0px;
  color: white;
}

.btnspacing {
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  font-size: 8px !important;
}

.Inputboxes,
.Mynote {
  margin-top: 30px !important;
}

.active {
  background-color: rgb(255, 255, 255);
  color: black;
}

.Mynote p {
  font-size: 18px !important;
}

.Mynote {
  background: #dddddd;
  padding: 50px;
  border-radius: 10px;
}

.noNotesBox {
  text-align: center;
}

.noNotes {
  position: fixed;
  top: 35%;
  width: 60%;
}

.App {
  width: 100%;
}

.savedTitle {
  display: none;
  font-style: italic;
  font-size: 12px;
}

.WelcomeScreen {
  width: 100%;
  height: 100vh;
  background: rgb(254, 254, 254);
  text-align: center;
  opacity: 0.8;
  animation: fadeOut 1s ease 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.Welcome {
  font-size: 28px;
  align-items: center;
  height: 100%;
  justify-content: center;
  display: flex;
}

.form-control {
  font-size: 22px !important;
  border: var(--bs-border-width) solid #ffffff !important;
}

.Inputarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px #afafaf !important;
  border-color: #ccc !important;
}

.btn-light {
  background-color: rgb(226, 226, 226) !important;
  border: rgb(171, 171, 171) !important;
}
